<div id="miContenedor">
  <h1>{{titulos}}</h1>

   <!--Inicio filtro -->
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Diego" #input>
  </mat-form-field>

<!--Inicio tabla Usuarios -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]= "dataSource" matSort>
      
      <!--Columnas generadas dinámicamente --> 
      <div matColumnDef="{{disCol}}" *ngFor= "let disCol of displayedColumns">
          <div *ngIf= "disCol != 'Acciones'">    <!--si disCol es diferente a la palabra acciones agregre lo que viene desde DB -->
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ disCol }} </th>
              <td mat-cell *matCellDef= "let element"> {{ element[disCol] }} </td>
          </div>

          <div  *ngIf= "disCol == 'Acciones'"> <!--si disCol es igual a Acciones agregue un th con Nombre y agregue los iconos a la columna-->
              <th mat-header-cell *matHeaderCellDef> {{disCol}} </th>
              <td mat-cell *matCellDef= "let element">
                  <button class="butt1" mat-icon-button (click)="editar(element)">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button class="butt" mat-icon-button (click)="borrar(element)">
                      <mat-icon>delete</mat-icon>
                  </button>                  
              </td>
          </div>
      </div> 
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encuentra información "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<div class="agregar">
  <button mat-button (click)="openDialog()">{{accion}}</button>
</div>
</div>
