
<form [formGroup]="ProductosForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title> {{titulo}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>      
      
      <div class="row">
        <div class="col">
          
          <mat-form-field class="full-width">
            <mat-select placeholder="Categoria" formControlName="nombreCategoria">
              <mat-option *ngFor="let Categoria of cats" [value]="cats">
                {{ Categoria.NombreCategoria }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="ProductosForm.controls['nombreCategoria'].hasError('required')">
              Seleccione una Categoria, es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder=" Referencia del Producto" formControlName="idProducto">
            <mat-error *ngIf="ProductosForm.controls['idProducto'].hasError('required')">
              La Referencia del producto es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder=" Nombre del Producto" formControlName="nombreProducto">
            <mat-error *ngIf="ProductosForm.controls['nombreProducto'].hasError('required')">
              El nombre del producto es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder=" Marca del Producto" formControlName="marca">
            <mat-error *ngIf="ProductosForm.controls['marca'].hasError('required')">
              La marca del producto es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripción del Producto" formControlName="descripcion"></textarea>
            <mat-error *ngIf="ProductosForm.controls['descripcion'].hasError('required')">
              La descripción es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
            
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fabricado en" formControlName="origen">
            <mat-error *ngIf="ProductosForm.controls['origen'].hasError('required')">
              El origen es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio Venta" type="number" formControlName="precioVenta">
            <mat-error *ngIf="ProductosForm.controls['precioVenta'].hasError('required')">
              El Precio de venta es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Imágen" formControlName="imagen">
          </mat-form-field>
        </div>
      </div>
     
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"> {{accion}}</button>
    </mat-card-actions>
  </mat-card>
</form>
