
<div class="login">
    
    <form class="custom-form">
        <h1 class="text-center">Inicio de  sesión</h1>

      <label name="email" placeholder="Email" required="required" >Correo Electrónico:</label>
      <input type="text" [(ngModel)]="email" id="username" name="username" required>
  
      <label type="password" >Contraseña:</label>
      <input type="password"  [(ngModel)]="password" id="password" name="password" required>
  
      <button type="submit" (click)="login()">Iniciar Sesión</button>
      
      <div class="text-center">
        <a href="#" class="login-btn" id="getpass-btn">Olvidó la clave</a>
        <p>Le gustaría registrar<br> <a href="/CreaTuCuenta" class="link user-actions"><strong>una nueva cuenta</strong></a>?</p>
      </div>
    </form>
      
      
  </div>

  