
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Nosotros">Nosotros</a>
      <a mat-list-item href="/Productos">Productos</a>
      <a mat-list-item href="/NuestrosClientes">Nuestros Clientes</a>
      <a mat-list-item href="/Contactenos">Contáctenos</a>
      <a mat-list-item href="/CreaTuCuenta">Crea tu cuenta</a>
      <a mat-list-item href="/Product">Quienes nos compran</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>IMPORSECURITY <H4> Ofreciendo seguridad en las vías</H4></span>
      <!-- Contruyendo mi avatar -->
      <ngx-avatars class="my-avatar" name="D P" value="28%" size="50" [round]="true"></ngx-avatars>
            
    </mat-toolbar>
    
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    
    <!--<app-productos></app-productos>
    <app-nosotros></app-nosotros>
    <app-crea-tu-cuenta></app-crea-tu-cuenta>
    <app-nuestros-clientes></app-nuestros-clientes>-->

  </mat-sidenav-content>
  
</mat-sidenav-container>
