
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Nosotros">Nosotros</a>
      <a mat-list-item href="/Productos">Productos</a>
      <a mat-list-item href="/NuestrosClientes">Nuestros Clientes</a>
      <a mat-list-item href="/Contactenos">Contáctenos</a>
      <a mat-list-item href="/CreaTuCuenta">Crea tu cuenta</a>
      <a mat-list-item href="/Product">Quienes nos compran</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav"  mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>IMPORSECURITY <H4> Ofreciendo seguridad en las vías</H4></span>
      
      <!-- Contruyendo mi avatar -->
      <div class="icon">
        <button mat-button [matMenuTriggerFor]="menu"><ngx-avatars class="my-avatar" name="{{nombre}}"  [round]="true"></ngx-avatars></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="cerrarSesion()"> Cerrar Sesión</button>
        </mat-menu>
      </div> 
    </mat-toolbar>    
    <!-- Add Content Here -->
    <router-outlet></router-outlet>    
    <!--En caso de no utilizar <router-outlet> se llama con cada componente
    <app-productos></app-productos>
    <app-nosotros></app-nosotros>
    <app-crea-tu-cuenta></app-crea-tu-cuenta>
    <app-nuestros-clientes></app-nuestros-clientes>-->
    <div>
      <img src="/assets/servicio.png" width="=700" height="750" alt="Advertencia"><br>Primeros en Señalización
    </div>
  </mat-sidenav-content>    
</mat-sidenav-container>

